<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Tun.r</title>
</head>
<body>
	<h1><a href="/"><img src="http://www.bikepoint.ee/failid/tunr.gif" alt=""></a></h1>
	<div id="nav">
		<a href="/artists">Artists</a> |
		<a href="/songs">Songs</a> |
		<a href="/playlists">Playlists</a>
	</div>
	<section id="main">
		<%= yield %>
	</section>
</body>
</html>