<form action="/artists" method="POST">
	<label for="name">Name<br>
		<input type="text" name="artist[name]"><br>
	</label>
	<label for="photo_url">Photo URL<br>
		<input type="text" name="artist[photo_url]"><br>
	</label>
	<label for="nationality">Nationality<br>
		<input type="text" name="artist[nationality]"><br>
	</label>
	<input type="submit" value="Submit">
</form>